.contact-container * {
  text-decoration: none;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.contact-container {
  width: 100%;
  height: 100%;
  margin-bottom: 2vw;
  padding-top: 2vw;
  overflow: hidden;
  padding: 5vw;
}

.contact-text {
  text-transform: capitalize;
  font-size: 50px;
  color: #008080;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.contact-grid {
  display: flex;
  justify-content: space-between;
}

.faq-contact-grid {
  display: flex;
  justify-content:space-between;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 40%; 
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 58%; 
}

.bottom-side {
  display:flex;
  flex-direction:row;
  width: 100%;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  border: 0.5px solid #008080;
  transition: box-shadow 1s;
  width: 100%;
  padding: 20px;
}

.contact-title {
  font-size: 30px;
  color: #008080;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.contact-form-card {
  min-height: 500px; /* Adjusted height */
}

.contact-input {
  height: 70px;
  width: 100%;
}

.contact-button {
  align-self:safe;
  align-content: center;
  justify-content: center;
}

.contact-info {
  margin: 10px 0;
  font-size: 28px; /* Increased font size */
  text-align: 6enter;
  color: #333;
}

.privacy-link {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #008080;
  font-size: 20px;
}

.privacy-link:hover {
  text-decoration: underline;
}

.accordion-summary .MuiTypography-root {
  font-size: 24px; /* Increased font size */
  color: #008080;
}

.accordion-details .MuiTypography-root {
  font-size: 21px; /* Increased font size */
  text-align: center;
}

  
  